@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    text-align: center;
}

p {
	font-size: 20px;
}

div {
	font-family: "Merriweather", serif;
	font-weight: 400;
	font-size: 18px;
	margin: auto;
	width: 40%;
	text-align: center;
	border: solid 1px #c3c3c3;
	padding: 20px;
}

.question {
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.answer{
	display: none;
	height: auto;
}

#pageTitle {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 48px;
}