@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    text-align: center;
}

p {
	font-size: 18px;
}

div {
	font-family: "Merriweather", serif;
	font-weight: 400;
	font-size: 18px;
	margin: auto;
	width: 50%;
	text-align: center;
	border: solid 1px #c3c3c3;
	padding: 20px;
}

ul {
    font-family: "Merriweather", serif;
	font-weight: 400;
	font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-family: "Merriweather", serif;
	font-weight: 400;
	font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.question {
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.answer{
	display: none;
	height: auto;
}

#pageTitle {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 48px;
}